POSTGRES_VERSION=17
POSTGRES_BIND_IP=10.0.0.10
POSTGRES_PORT=5432
POSTGRES_LISTEN_ADDRESSES=0.0.0.0
POSTGRES_MAX_CONNECTIONS=200
POSTGRES_DATA_DIR=/srv/rust-api-data/postgres

REDIS_VERSION=7.2-alpine
REDIS_BIND_IP=10.0.0.10
REDIS_PORT=6379
REDIS_DATA_DIR=/srv/rust-api-data/redis
